.section-book {
	padding: 10rem;
	background: linear-gradient(90.05deg, $color-brown-light, $color-black);
}

@include respond(tablet) {
	.row {
		margin-bottom: 0;
	}
	.section-book {
		padding: 4rem;
	}
}

@include respond(phone) {
	.section-book {
		padding-left: 0;
		padding-right: 0;
	}
}
