$color-gray-light: #f7f7f7;
$color-gray: #777;

$color-brown-light: #ba8554;
$color-brown-dark: #a14f03;

$color-black: #000;
$color-white: #fff;

$box-shadow: 0rem 0.4rem 0.4rem rgba($color-black, 0.1);

$grid-width: 110rem;
$vertical-margin-grid: 8rem;
$horisontal-margin-grid: 6rem;
